<a href="https://colab.research.google.com/github/Patrickhshs/23Spring-Recsys-Final-Project/blob/main/KuaiRand_Dataset_preview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#!tar -xzvf "/content/drive/MyDrive/23SpringRecsys/KuaiRand-Dataset/KuaiRand-1K.tar.gz" -C "/content/drive/MyDrive/23SpringRecsys/KuaiRand-Dataset"

KuaiRand-1K/
KuaiRand-1K/LICENSE
KuaiRand-1K/figs/
KuaiRand-1K/README.md
KuaiRand-1K/data/
KuaiRand-1K/load_data_1k.py
KuaiRand-1K/data/video_features_basic_1k.csv
KuaiRand-1K/data/video_features_statistic_1k.csv
KuaiRand-1K/data/log_standard_4_08_to_4_21_1k.csv
KuaiRand-1K/data/log_standard_4_22_to_5_08_1k.csv
KuaiRand-1K/data/log_random_4_22_to_5_08_1k.csv
KuaiRand-1K/data/user_features_1k.csv
KuaiRand-1K/figs/kuaishou-app.png
KuaiRand-1K/figs/three-version.png
KuaiRand-1K/figs/KuaiRand.png

In [3]:
df=pd.read_csv("/content/drive/MyDrive/23SpringRecsys/KuaiRand-Dataset/KuaiRand-1K/data/log_standard_4_08_to_4_21_1k.csv")
df

,user_id,video_id,date,hourmin,time_ms,is_click,is_like,is_follow,is_comment,is_forward,is_hate,long_view,play_time_ms,duration_ms,profile_stay_time,comment_stay_time,is_profile_enter,is_rand,tab
0,0,4354972,20220409,900,1649467982289,0,0,0,0,0,0,0,0,70100,0,0,0,0,0
1,0,1329429,20220409,900,1649467982289,0,0,0,0,0,0,0,0,51422,0,0,0,0,0
2,0,346081,20220409,900,1649467982289,0,0,0,0,0,0,0,0,11696,0,0,0,0,0
3,0,2058916,20220409,900,1649467982289,0,0,0,0,0,0,0,0,66433,0,0,0,0,0
4,0,2528540,20220409,900,1649467982289,1,0,0,0,0,0,0,5332,11450,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5055979,999,694615,20220421,2300,1650552207405,0,0,0,0,0,0,0,3573,35040,0,0,0,0,1
5055980,999,1240364,20220421,2300,1650552207405,0,0,0,0,0,0,0,927,63566,0,0,0,0,1
5055981,999,2514654,20220421,2300,1650552207405,1,0,0,0,0,0,1,65048,99100,0,0,0,0,1
5055982,999,4214495,20220421,2300,1650552339920,0,0,0,0,0,0,0,1822,0,0,0,0,0,1
5055983,999,2897178,20220421,2300,1650552339920,1,0,0,0,0,0,1,93384,137480,0,0,0,0,1

In [6]:
import os
os.chdir("/content/drive/MyDrive/23SpringRecsys/KuaiRand-Dataset/KuaiRand-1K")
!python load_data_1k.py

===================================================
The random data in 'log_random_4_22_to_5_08_1k.csv'
---------------------------------------------------
      user_id  ...  tab
0           0  ...    1
1           0  ...    1
2           0  ...    1
3           0  ...    1
4           0  ...    1
...       ...  ...  ...
9995      218  ...    1
9996      218  ...    1
9997      218  ...    1
9998      218  ...    1
9999      218  ...    1

[10000 rows x 19 columns]
===================================================
The standard data in 'log_standard_XXX.csv'
---------------------------------------------------
      user_id  ...  tab
0           0  ...    0
1           0  ...    0
2           0  ...    0
3           0  ...    0
4           0  ...    0
...       ...  ...  ...
9995        3  ...    0
9996        3  ...    0
9997        3  ...    1
9998        3  ...    1
9999        3  ...    1

[10000 rows x 19 columns]
===================================================
The user features in 'user_features_1k.csv'
---------------------------------------------------
     user_id  ... onehot_feat17
0          0  ...           0.0
1          1  ...           0.0
2          2  ...           0.0
3          3  ...           0.0
4          4  ...           0.0
..       ...  ...           ...
995      995  ...           0.0
996      996  ...           0.0
997      997  ...           0.0
998      998  ...           0.0
999      999  ...           0.0

[1000 rows x 31 columns]
===================================================
The basic video features in 'video_features_basic.csv'
---------------------------------------------------
      video_id  ...  tag
0            0  ...   39
1            1  ...    2
2            2  ...    1
3            3  ...    7
4            4  ...    9
...        ...  ...  ...
9995     10027  ...   34
9996     10028  ...   20
9997     10029  ...    6
9998     10030  ...  NaN
9999     10031  ...    5

[10000 rows x 12 columns]
===================================================
The statistical features of videos in 'video_features_statistic_1k.csv'
---------------------------------------------------
      video_id  ...  outsite_share_all_cnt
0            0  ...               0.078431
1            1  ...               4.691176
2            2  ...               0.285714
3            3  ...               0.013889
4            4  ...               8.488764
...        ...  ...                    ...
9995     10027  ...               0.000000
9996     10028  ...               0.307692
9997     10029  ...               4.766667
9998     10030  ...               0.016667
9999     10031  ...               0.472727

[10000 rows x 52 columns]